body {
    background: #000 url("https://gf2.geo.gfsrv.net/cdn4e/d07c90d96bbc823d6d53953a94aacb.jpg") fixed 50% 0;
    color: #f1f1f1;
    font-family: Verdana, Arial, SunSans-Regular, sans-serif;
    font-size: 12px;
}